<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled 서버</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href=" @{/css/style.css}">
    <link rel="stylesheet" th:href=" @{/css/pages/login.css} ">
    <!-- CSS -->

    <!-- Script -->
    <script th:src="@{/script/common/js/script.js}" defer></script>
    <script th:src="@{/script/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/script/pages/login.js}"></script>
    <!-- Script -->
</head>
<body>
<div id="loading-screen" style="display: none;">
	    <div class="loader">로딩 중...</div>
	</div>
    <nav>
		<th:block th:replace="~{fragments/fragment_nav :: nav}"></th:block>
	</nav>
    <header>
    	<div class="container">
            <h2 class="login-title">로그인</h2>
            <div class="input-group">
                <label for="email">이메일</label>
                <div class="input-form">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
                    </svg>
                    <input id="email" name="uniEmail" type="email" placeholder="이메일 주소 입력" autocomplete="off" required>
                </div>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <div class="input-form">
                    <svg viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
                        <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
                    </svg>
                    <input id="password" name="password" type="password" placeholder="비밀번호 입력" autocomplete="off" required>
                </div>
            </div>
            <div class="flex-row">
                <div>
                    <input type="checkbox" id="remember">
                    <label for="remember">로그인 상태 유지</label>
                </div>
                <span class="forgot-password">비밀번호 찾기</span>
            </div>
               <span id="failMsg"></span>
            <button type="submit" class="button-submit" id="loginBtn">로그인</button>
            <p class="sign-up-prompt">계정이 없으신가요? <span class="sign-up-link" onclick="location.href='/register'">회원가입</span></p>
        </div>
    </header>
    <footer>
    	<th:block th:replace="~{fragments/fragment_footer :: footer}"></th:block>
	</footer>
</body>

</html>