<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled 서버</title>

<!-- CSS -->
<link rel="stylesheet" th:href=" @{/css/style.css}">
<link rel="stylesheet" th:href=" @{/css/pages/register.css} ">
<!-- CSS -->

<!-- Script -->
<script th:src="@{/script/common/js/script.js}" defer></script>
<script th:src="@{/script/common/js/preloader.js}" defer></script>
<script th:src="@{/script/jquery/jquery-3.7.1.min.js}"></script>

<!-- Script -->
</head>

<body>
<th:block th:replace="~{fragments/fragment_preloader :: preloader}"></th:block>
	<nav>
		<th:block th:replace="~{fragments/fragment_nav :: nav}"></th:block>
	</nav>
	<header>
		<div class="container">
			<div class="register">
				<h1>회원가입 방식 선택</h1>
				<div class="options">
					<div class="option" onclick="location.href='/simplesignup'">
						<div class="icon">
							<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
							<dotlottie-player src="https://lottie.host/eecacd18-8e9c-40db-92bd-4a43776c38b8/WNF95YN1Fr.json" background="transparent" speed="1" style="width: 100px; height:100px" direction="1" playMode="normal" autoplay></dotlottie-player>
						</div>
						<h2>간편 회원가입</h2>
						<p>에브리타임 프로필 사진으로 최대한 빨리 서버에 접속해보세요 !</p>
					</div>
					<div class="option" onclick="location.href='/signup'">
						<div class="icon">
							<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
							<dotlottie-player src="https://lottie.host/ab99438b-30f7-40ff-ad74-5b12e072bb8b/4IMA4emTp4.json" background="transparent" speed="1" style="width: 200px; height: 200px" direction="1" playMode="normal" autoplay></dotlottie-player>
						</div>
						<h2>일반 회원가입</h2>
						<p>서버를 즐기는데 필요한 최소한의 정보를 입력하여 가입하세요 !</p>
					</div>
				</div>
				<button class="button" onclick="location.href='/login'">이미
					계정이 있으신가요? 로그인</button>
			</div>
		</div>
	</header>
	<footer>
		<th:block th:replace="~{fragments/fragment_footer :: footer}"></th:block>
	</footer>
</body>

</html>